*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

p {
  font-size: 14px;
  color: gray;
}

.container {
  height: 100vh;
  overflow: hidden;
  padding: 70px 9.2%;
  width: 52.7%;
  position: absolute;
  right: 0;
}

.navbar {
  margin: 0 0 30% 0;
}

.navbar__logo {
  float: left;
}

.navbar__social-links {
  overflow: hidden;
  float: right;
  list-style: none;
}

.navbar__social-links__link {
  float: left;
}

.navbar__social-links__link:not(last-child) {
  margin-right: 30px;
}

.sign-up {
  width: 100%;
}

.sign-up__header-text {
  color: #070439;
  margin-bottom: 40px;
}

.sign-up__paragraph-text {
  display: inline-block;
  width: 80%;
  margin-bottom: 80px;
}

.sign-up .form__label {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

.sign-up .form #email-field {
  padding: 10px;
  border-radius: 5px;
  width: 67%;
  height: 48px;
  background: #fff;
  border: none;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
  margin-right: 10px;
}

.sign-up .form__submit {
  float: right;
  color: #fff;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  width: 30%;
  height: 48px;
  border: none;
  background: #05d69b;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
}

.sign-up #privacy-policy-link {
  margin-top: 20%;
  font-size: 12px;
  color: #070439;
  float: right;
}

.illustration {
  height: 100vh;
  width: 47.2vw;
  float: left;
  background-color: #110a6d;
  background-image: linear-gradient(225deg, #110a6d, #bdbafa 200%);
  background-size: 150%;
  padding: 80px;
}

.illustration img {
  display: block;
  margin: 20% auto;
  width: 75%;
}

@media screen and (max-width: 400px) {
  .container {
    color: white;
    padding: 30px 7%;
    width: 100vw;
  }
  #navbar__logo__words {
    fill: white;
  }
  .illustration {
    position: absolute;
    background: url("./images/bg-intro.svg");
    background-repeat: no-repeat;
    width: 100vw;
    float: none;
  }
  .illustration img {
    width: 100%;
  }
  .sign-up__header-text {
    font-size: 25px;
    margin-top: 130%;
    margin-bottom: 15px;
  }
  .sign-up__paragraph-text {
    margin-bottom: 30px;
    width: 100%;
  }
  .sign-up .form #email-field {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.116);
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 15px;
  }
  .sign-up .form__submit {
    height: 40px;
    width: 45%;
    float: none;
  }
}
/*# sourceMappingURL=styles.css.map */