//Colors
$color-soft-blue: hsl(243, 86%, 85%);
$color-dark-blue: hsl(243, 87%, 12%);
$color-green: hsl(163, 95%, 43%);
$color-gray: hsl(0, 0%, 50%);

//Global
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

p {
  font-size: 14px;
  color: $color-gray;
}

.container {
  padding: 4% 10%;
  width: 55%;
  float: right;
}

//Navbar
.navbar {
  margin: 0 0 30% 0;

  &__logo {
    height: 24px;
    float: left;
  }

  &__social-links {
    overflow: hidden;
    float: right;
    list-style: none;

    &__link {
      float: left;

      &:not(last-child) {
        margin-right: 30px;
      }
    }
  }
}

//Sign-up section
.sign-up {
  width: 100%;

  &__header-text {
    color: $color-dark-blue;
    margin-bottom: 40px;
  }

  &__paragraph-text {
    display: inline-block;
    width: 80%;
    margin-bottom: 80px;
  }

  //Sign-up form
  .form {
    &__label {
      color: $color-dark-blue;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 16px;
      display: block;
      margin-bottom: 20px;
    }

    & #email-field {
      padding: 10px;
      border-radius: 5px;
      width: 67%;
      height: 48px;
      background: #fff;
      border: none;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
      margin-right: 10px;
    }

    &__submit {
      float: right;
      color: #fff;
      font-family: "Raleway", sans-serif;
      border-radius: 5px;
      width: 30%;
      height: 48px;
      border: none;
      background: $color-green;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
    }
  }

  #privacy-policy-link {
    margin-top: 20%;
    font-size: 12px;
    color: $color-dark-blue;
    float: right;
  }
}

//Left-side illustration
.illustration {
  height: 100%;
  width: 45%;
  float: left;
  background: url("./images/bg-intro.svg");
  background-repeat: no-repeat;
  background-size: 120%;
  transform: rotate(90deg);

  & img {
    transform: rotate(270deg);
    margin: auto;
    padding: 50px;
    width: 100%;
  }
}
