//Colors
$color-soft-blue: hsl(243, 86%, 85%);
$color-dark-blue: hsl(243, 87%, 12%);
$color-green: hsl(163, 95%, 43%);
$color-gray: hsl(0, 0%, 50%);

//Global
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

p {
  font-size: 14px;
  color: $color-gray;
}

.container {
  height: 100vh;
  padding: 70px 9.2%;
  width: 52.7%;
  position: absolute;
  right: 0;
}

//Navbar
.navbar {
  margin: 0 0 30% 0;

  &__logo {
    float: left;
  }

  &__social-links {
    overflow: hidden;
    float: right;
    list-style: none;

    &__link {
      float: left;

      &:not(last-child) {
        margin-right: 30px;
      }
    }
  }
}

//Sign-up section
.sign-up {
  width: 100%;

  &__header-text {
    color: $color-dark-blue;
    margin-bottom: 40px;
  }

  &__paragraph-text {
    display: inline-block;
    width: 80%;
    margin-bottom: 80px;
  }

  //Sign-up form
  .form {
    &__label {
      color: $color-dark-blue;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 16px;
      display: block;
      margin-bottom: 20px;
    }

    & #email-field {
      padding: 10px;
      border-radius: 5px;
      width: 67%;
      height: 48px;
      background: #fff;
      border: none;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
      margin-right: 10px;
    }

    &__submit {
      float: right;
      color: #fff;
      font-family: "Raleway", sans-serif;
      border-radius: 5px;
      width: 30%;
      height: 48px;
      border: none;
      background: $color-green;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.116);
    }
  }

  #privacy-policy-link {
    margin-top: 20%;
    font-size: 12px;
    color: $color-dark-blue;
    float: right;
  }
}

//Left-side illustration
.illustration {
  height: 100vh;
  width: 47.2vw;
  float: left;
  background-color: #110a6d;
  background-image: linear-gradient(225deg, #110a6d, #bdbafa 200%);
  background-size: 150%;
  padding: 80px;

  & img {
    display: block;
    margin: 20% auto;
    width: 75%;
  }
}

@media screen and (max-width: 650px) {
  .container {
    height: auto;
    color: white;
    padding: 30px;
    width: 100vw;
  }

  //Logo words
  #navbar__logo__words {
    fill: white;
  }

  //Illustration
  .illustration {
    position: absolute;
    background: url("./images/bg-intro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    float: none;

    & img {
      width: 100%;
    }
  }

  .sign-up {
    &__header-text {
      font-size: 25px;
      margin-top: 150%;
      margin-bottom: 15px;
    }

    &__paragraph-text {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .sign-up {
    & .form {
      &__label {
        margin-bottom: 15px;
      }

      & #email-field {
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.116);
        box-shadow: none;
        margin-bottom: 15px;
      }
      &__submit {
        height: 40px;
        width: 45%;
        float: none;
      }
    }
  }

  .attribution {
    margin-top: 10% !important;
  }

  #privacy-policy-link {
    margin-top: 10% !important;
  }
}
